<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Cart</title>

    <style>
        .card-sh {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
            margin: 20px;
        }
    </style>
</head>

<body>
<section class="py-5 mt-5">
    <div class="container">
        <h2 class="text-center">Admin Dashboard</h2>
        <div class="row">
            <div class="col-md-4 mt-5">
                <a th:href="@{/admin/addproduct}" class="text-decoration-none">
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded text-center">
                        <div class="card-body">
                            <i class="fa-solid fa-plus fa-2x text-primary"></i>
                            <p class="fs-5 text-primary">Add Product</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mt-5">
                <a th:href="@{/admin/category}" class="text-decoration-none">
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded text-center">
                        <div class="card-body">
                            <i class="fa-solid fa-arrow-left fa-2x text-primary"></i>
                            <p class="fs-5 text-primary">Add Category</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mt-5">
                <a href="" class="text-decoration-none">
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded text-center">
                        <div class="card-body">
                            <i class="fa-solid fa-book fa-2x text-danger"></i>
                            <p class="fs-5 text-primary">View Product</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ">
                <a href="" class="text-decoration-none">
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded text-center">
                        <div class="card-body">
                            <i class="fa-solid fa-box-open fa-2x text-warning"></i>
                            <p class="fs-5 text-primary">Orders</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="text-decoration-none">
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded text-center">
                        <div class="card-body">
                            <i class="fa-solid fa-user fa-2x text-primary"></i>
                            <p class="fs-5 text-primary">Users</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="text-decoration-none">
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded text-center">
                        <div class="card-body">
                            <i class="fa-solid fa-user-plus fa-2x text-primary"></i>
                            <p class="fs-5 text-primary">Add Admin</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>